* {
	 margin:0;
	 padding:0;
	 box-sizing:border-box;
	 color:white;
	 text-align: url('.virust/VIRUST.ttf');
	 font-family:"Blinker", serif;
}*
body {
    margin:0;
    background-image: url('./Fondo/pagina-fondo.jpg');
    background-size: cover; 
}
.form-login {
	background-image: url('./Fondo/fondo-del-login.jpg');
	width:400px;
	background-color:#green;
	padding:30px;
	margin: auto;
	margin-top:100px;
	border-radius:4px;
	color:white;
	opacity:70%;
	box-shadow:7px 13px 37px lime;
	border:2px solid white;
}
.form-login h2 {
	font-size: 22px;
	margin-bottom: 20px;
}
.controls {
	width:100%;
	background-color:black;
	padding:10px;
	border-radius:4px white;
	margin-top:16px;
	border: 1px solid white;
	color:white;
}
h1{
	text-align:center;
	font-weight:300;
	font-size:60px;
}
p {
	text align:center;
}
 .form-login p {
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
 }

  .botom {
	width:100%;
	background:black;
	border:none;
	padding: 12px;
	color: white;
	margin:16px 0;
	font-size: 16px;
  }
