*{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 color: black;
	 text-align: url('.virust/VIRUST.ttf');
	 font-family: "Blinker", serif;
}*
body {
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding-top:10%;
    margin: 0;
    background-image: url('./Fondo/pagina-fondo.jpg'); 
    background-size: cover;
}
ul {
	position:relative;
	transform: skewY(-15deg);
	padding-left:50%;
}
ul li {
	position:relative;
	list-style: none;
	width: 180px;
	padding: 15px;
	background:forestgreen;
	opacity:90%;
	z-index: calc(1 * var(--i));
	transition: 0.8s;
}
ul li:hover {
	background:limegreen;
	opacity:90%;
	transform: translate(48px,48px);
}
ul li::before {
	content: '';
	position: absolute;
	top: 0;
	left: -40px;
	width: 40px;
	height: 100%;
	background:green;
	opacity:50%;
	filter: brightness(0.7);
	transform-origin: right;
	transform: skewY(45deg);
	transition: 0.8s;
	border:white;
}
ul li:hover::before {
	background:darkgreen;
	border:white;
	opacity:90%;
}

ul li::after{
	content: attr(data-text);
	position: absolute;
	top: -40px;
	left: 0;
	width: calc(100% - 20px);
	height: 40px;
	display: flex;
	padding-left: 20px;
	color:white;
	font-weight:600;
	font-size: 1em;
	align-items: center;
	background:green;
	filter: brightness(0.9);
	transform-origin: bottom;
	transform: skewX(45deg);
	transition:0.5s;
	border:white;
	opacity:50%;

}
ul li:hover::after{
	background:forestgreen;
	border:white;
	opacity:90%;
}
ul li a {
	text-decoration: none;
	color:white;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	transition: 0.5s;
}
ul li a:hover{
	color:white;
}
ul li a:last-child:after{
	box-shadow: -120px 120px 20px black;
}
ul li a span{
	position:absolute;
	top: 0;
	left: -40px;
	width: 40px;
	text-align: center;
	height: 100%;
	transform-origin: right;
	transform: skewY(45deg);
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	opacity: 0.5;
}
ul li:hover a span{
	opacity:50%;
}
